.menu-button {
    border-radius: 12px;
    background-color: #21233a;
    padding: 24px;
    width: 120px;
}

.menu-button:hover {
    cursor: pointer;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
    box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
    scale: 110%;
}

.menu-button a {
    color: white;
    text-decoration: none;
}

.menu-button a p {
    font-size: 20px;
    text-align: center;
}

