.tasks-list {
    list-style-type: none;
}

.task-card {
    background: #262c61;
    padding: 20px 40px;
    margin: 30px 0;
    border-radius: 20px;
}

.task-card h2 {
    font-weight: 300;
    font-size: 30px;
}

.task-card .description, .task-card .teams {
    background: #363f87;
    padding: 20px;
    border-radius: 10px;
}

.tasks-list a {
    color: white;
    text-decoration: underline;
}


p a {
    color: white;
}


.task-details {
    background: #262c61;
    padding: 20px 40px;
    border-radius: 20px;
    color: white;
    margin: 30px 0;
    display: flex;
    gap:20px
}

.task-details .left-column {
    width: 70%;
}


.task-details h2 {
    font-weight: 300;
    font-size: 40px;
}

.task-details .description, .task-details .teams {
    background: #363f87;
    padding: 20px;
    border-radius: 10px;
}

.task {
    margin-left: 300px;
    width: 100%;
    margin-right: 30px;
}

.task p {
    color: white;
}